/data/from_2020_06_01/abortion_clinic.json
/data/from_2020_06_01/abortion_doctor.json
/data/from_2020_06_01/abortion_healthcare.json
/data/from_2020_06_01/abortion_hospital.json
/data/from_2020_06_01/abortion_physician.json
/data/from_2020_06_01/abortion_privacy.json
/data/from_2020_06_01/abortion_provider.json
/data/from_2020_06_01/abortion_visit.json
/data/from_2020_06_01/dobbs.json
/data/from_2020_06_01/dobbs_clinic.json
/data/from_2020_06_01/dobbs_doctor.json
/data/from_2020_06_01/dobbs_healthcare.json
/data/from_2020_06_01/dobbs_hospital.json
/data/from_2020_06_01/dobbs_provider.json
/data/from_2020_06_01/dobbs_visit.json
/data/from_2020_06_01/dobs_physician.json
/data/from_2020_06_01/jackson.json
/data/from_2020_06_01/jackson_clinic.json
/data/from_2020_06_01/jackson_doctor.json
/data/from_2020_06_01/jackson_healthcare.json
/data/from_2020_06_01/jackson_hospital.json
/data/from_2020_06_01/jackson_physician.json
/data/from_2020_06_01/jackson_provider.json
/data/from_2020_06_01/jackson_visit.json
/data/from_2020_06_01/roe.json
/data/from_2020_06_01/roe_clinic.json
/data/from_2020_06_01/roe_doctor.json
/data/from_2020_06_01/roe_healthcare.json
/data/from_2020_06_01/roe_hospital.json
/data/from_2020_06_01/roe_physician.json
/data/from_2020_06_01/roe_provider.json
/data/from_2020_06_01/roe_visit.json
/data/from_2020_06_01/wade.json
/data/from_2020_06_01/wade_clinic.json
/data/from_2020_06_01/wade_doctor.json
/data/from_2020_06_01/wade_healthcare.json
/data/from_2020_06_01/wade_hospital.json
/data/from_2020_06_01/wade_physician.json
/data/from_2020_06_01/wade_provider.json
/data/from_2020_06_01/wade_visit.json
/scrape_process_ITSA_and_LDA/02_concat_data_descriptive_table.ipynb
/data/from_2020_01_01/abortion_disclosure.json
/data/from_2020_01_01/abortion_hipaa.json
/data/from_2020_01_01/abortion_phi.json
/data/from_2020_01_01/abortion_privacy.json
/data/from_2020_01_01/abortion_private.json
/data/from_2020_01_01/abortion_share.json
/data/from_2020_01_01/dobbs.json
/data/from_2020_01_01/dobbs_disclosure.json
/data/from_2020_01_01/dobbs_hipaa.json
/data/from_2020_01_01/dobbs_jackson.json
/data/from_2020_01_01/dobbs_phi.json
/data/from_2020_01_01/dobbs_privacy.json
/data/from_2020_01_01/dobbs_private.json
/data/from_2020_01_01/dobbs_share.json
/data/from_2020_01_01/dobbsvjackson.json
/data/from_2020_01_01/jackson_disclosure_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_hipaa_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_michael_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_phi_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_privacy_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_private_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/jackson_share_wang_magicman_jacksonwangmagicman.json
/data/from_2020_01_01/roe.json
/data/from_2020_01_01/roe_disclosure.json
/data/from_2020_01_01/roe_hipaa.json
/data/from_2020_01_01/roe_phi.json
/data/from_2020_01_01/roe_privacy.json
/data/from_2020_01_01/roe_private.json
/data/from_2020_01_01/roe_share.json
/data/from_2020_01_01/roe_wade.json
/data/from_2020_01_01/roevwade.json
/data/from_2020_01_01/wade_disclosure.json
/data/from_2020_01_01/wade_hipaa.json
/data/from_2020_01_01/wade_phi.json
/data/from_2020_01_01/wade_privacy.json
/data/from_2020_01_01/wade_private.json
/data/from_2020_01_01/wade_share.json
/data/processed_data/old_versions/all_scraped_df_1_million_2020_01_01_v3
/data/processed_data/old_versions/all_scraped_df_4_million_2020_01_01_v1
/data/processed_data/old_versions/all_scraped_df_4_million_2020_01_01_v2
/data/processed_data/old_versions/filtered_df_v2.csv
/data/processed_data/old_versions/filtered_with_sentiment_df_v2.csv
/data/processed_data/all_preprocessed_tokens_v4
/data/processed_data/all_scraped_df_12_million_2020_01_01_v4
/data/processed_data/all_tweets_dates_user_v4.csv
/data/processed_data/gemsim_dic_for_LDA
/data/processed_data/lda_filtered_df_v4.csv
/data/processed_data/query_descriptive_table_v4.csv
/scrape_process_ITSA_and_LDA/all_preprocessed_tokens_v4.pkl
/sentiment_and_classifiers/Word2Vec-bias-extraction-master/
