/data/from_2020_06_01/abortion_clinic.json
/data/from_2020_06_01/abortion_doctor.json
/data/from_2020_06_01/abortion_healthcare.json
/data/from_2020_06_01/abortion_hospital.json
/data/from_2020_06_01/abortion_physician.json
/data/from_2020_06_01/abortion_privacy.json
/data/from_2020_06_01/abortion_provider.json
/data/from_2020_06_01/abortion_visit.json
/data/from_2020_06_01/dobbs.json
/data/from_2020_06_01/dobbs_clinic.json
/data/from_2020_06_01/dobbs_doctor.json
/data/from_2020_06_01/dobbs_healthcare.json
/data/from_2020_06_01/dobbs_hospital.json
/data/from_2020_06_01/dobbs_provider.json
/data/from_2020_06_01/dobbs_visit.json
/data/from_2020_06_01/dobs_physician.json
/data/from_2020_06_01/jackson.json
/data/from_2020_06_01/jackson_clinic.json
/data/from_2020_06_01/jackson_doctor.json
/data/from_2020_06_01/jackson_healthcare.json
/data/from_2020_06_01/jackson_hospital.json
/data/from_2020_06_01/jackson_physician.json
/data/from_2020_06_01/jackson_provider.json
/data/from_2020_06_01/jackson_visit.json
/data/from_2020_06_01/roe.json
/data/from_2020_06_01/roe_clinic.json
/data/from_2020_06_01/roe_doctor.json
/data/from_2020_06_01/roe_healthcare.json
/data/from_2020_06_01/roe_hospital.json
/data/from_2020_06_01/roe_physician.json
/data/from_2020_06_01/roe_provider.json
/data/from_2020_06_01/roe_visit.json
/data/from_2020_06_01/wade.json
/data/from_2020_06_01/wade_clinic.json
/data/from_2020_06_01/wade_doctor.json
/data/from_2020_06_01/wade_healthcare.json
/data/from_2020_06_01/wade_hospital.json
/data/from_2020_06_01/wade_physician.json
/data/from_2020_06_01/wade_provider.json
/data/from_2020_06_01/wade_visit.json
lda_exploratory_analysis.ipynb